*{
   margin: 0;
   font-family: 'Open Sans', sans-serif;
}

.header {
    background: #fff8f3;
    padding-top: 10px;
    background-image:url('../images/header_bg.png') ,url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right 35px, left;
   
   
}

 .button-primary {
          color: #ffffff;
          font-weight: 700;
          font-size: 20px;
          height: 64px;
          border: 0;
          padding: 18px 35px;
          border-radius:5px;
          background: #fd6e0a;
 }
 .button-contact {
    color: #fd6e0a;
    font-weight: 700;
    font-size: 20px;
    height: 65px;
    border: 2px solid;
    margin-left: 30px;
    padding: 18px 35px;
    border-radius:5px;
    background: #fd6f0a00;
 }

nav {
    display:flex;
    justify-content: space-between;
    margin: 50px 200px;
}

nav ul {
     display: flex;
     align-items: center;
}

ul li {
      list-style: none;
      margin-left: 50px;
}

.title{
        font-weight: 800;
        font-size: 45px;
    
}
.banner{
        display: flex;
        align-items: center;
        margin: 0 200px;
     
}

.banner-title{
    font-weight: 700;
    font-size: 80px;
}

.sub-title{
  font-weight: 600;
  font-size: 45px;
  margin-bottom: 15px;
}

.banner-text {
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
  
}

.banner-img {
         padding-left:300px;
    
   
}

/* main section */
 

main {
      max-width: 1140px;
      margin: 0 auto;
}

section {
    margin-top: 130px;
}

.about {
     text-align: center;
      background: #fff8f3;
      border-radius: 10px;
      padding: 130px 150px;
      font-size: x-large;

}


.section-title{
    text-align: center;
   margin-bottom: 50px;
   font-size: xx-large;

}

.section-description{
       color: #757575;
       font-size: 18px;
       margin-bottom: 30px;
}

.about-info-container {
     display: flex;
     justify-content: space-around;

}

.about-info-title{
     font-size: 20px;
     color: #757575;
}

.info-description {
    font-weight: 700;
    font-size:20px;
    color: #474747;
}

/* what i do */

.what-i-do {
        margin-top: 130px;

}

.skills-container {
       display: flex;
      gap: 24px;
}

.skill {
     background: #ffffff;
     box-shadow: 0 6px 50px rgba(0, 0, 0, 0.06);
     padding: 30px;

}

.skill-title {
       
        font-weight: 700;
        font-size: 20px;
        margin-top: 30px;
        margin-bottom:20px;
}


.skill-description {
        color:#757575 ;
}

/* resume styles */


.resume-content {
    display: flex;
    gap: 24px;
}
.resume-item{
      margin-top: 30px;
      margin-bottom: 30px;
}

.resume .title {
    font-weight: 700;
    font-size: 25px;
    color: #474747;
    margin-bottom: 10px;
}

.resume .sub-title {
        color: #757575;
        font-weight: 600;
        font-size: 20px;
        margin-bottom: 20px;
}

.resume .description {
       color: #757575;
}

.resume-button {
    margin-top: 50px;
    text-align: center;
}

/* contact style */

.contact{
    display: flex;
    gap: 100px;
    background-color: #fff8f3;
    padding: 130px 200px;
}

.contact .section-title{
       text-align: left;
}

.contact input[type="text"], input[type="email"], textarea{
      margin-bottom: 24px;
      border: 0;
      width: 100%;
      padding: 18px 30px;

}
input{
    height: 64px;
}

.contact a{
    text-decoration: none;
}

/* responsive styles */


@media screen and (max-width: 576px) {
    .header{
        background-image: none;
    }
      nav,
     .banner,
     .skills-container, 
     .resume-content, 
     .about-info-container, 
     .contact{
        flex-direction: column;
        gap: 20px;
        padding: 10px 20px;
    }
    .title{
        margin-left: -190px;
        
    }
    .title{
       
       padding-bottom: 5px;
    }
    .banner{
        margin: 0 20px;
    }
    .banner-img{
      
        width: 50%;
        margin-left: -100px;
        margin-top: -222%;
        padding-bottom: 500px;
    }
    .about,.contact{
        padding: 20px;
    }
    .contact input[type="text"], input[type="email"], textarea{
        padding: 0 0 0 5px;
    }
    .section-title{
        font-size: 27px;
        color: #f59031;
    }
    nav ul{
        flex-direction: column;
         gap: 20px ;
         align-items: flex-start; 
         margin-left: -220px;
    }

    nav  li{
        margin-left: 0;
    }
    .button-primary{
     margin-bottom: 10px;
    margin-left: 10px; 
    margin-right: 35px;
    font-size: 12px;
     padding: 5px 13px;
  
    }
    .button-primary{
        white-space: nowrap;
        margin-top: 10px;
        margin-left: -8px;
    }
    .sub-title{
        font-size: 28px;
        margin-bottom: 10px;
    }
    .banner-title{
        font-size: 40px;
    }
    .banner-text{
        padding-top: 5px;
        font-size: 18px;
    }
    .button-contact{
     margin-left: -1px;
     margin-top: -10%;
     font-size: 13px;
     padding: 10px 18px;
    
    }
    .section-description{
        text-align: left;
        justify-content: center;
        padding-left: 10px;
    }
}

@media screen and (min-width: 577px) and (max-width: 992px) {
    .header{
        background-image: none;
        background-image:url('../images/header_bg.png');
        background-position: bottom right -50px, right;
        background-size: 60%;
    }
    .skills-container   {
        display: grid;
        grid-template-columns: repeat(2 , 1fr);
        gap: 24px;
        padding: 10px 20px;
        
    }
    .about,.contact{
        padding: 20px;
    }
 
    .contact{
      flex-direction: column;
    }
    nav ul{
        flex-direction: row;
         align-items: flex-start; 
         margin-left: 290px;
    }
    .button-primary{
    margin-left: -10px; 
    font-size: 17px;
     padding: 5px 25px;
  
    }
    .button-primary{
     margin-top: -100px;
      white-space: nowrap;
    }
    .button-contact{
     font-size: 16px;
     padding: 8px 20px;
        
    }
    .title{
        font-size: 30px;
        margin-top: -20px;
        margin-left: -190px;
        
    }
    .sub-title{
        font-size: 28px;
        margin-bottom: 10px;
    }
    .banner-title{
        font-size: 50px;
    }
    .banner{
        margin: 0 20px;
        padding-bottom: 40px;
    }
    .banner-img{
        width: 100%;
        margin-left: -250px;
        margin-bottom: -40px;
    }
    .banner-text{
        font-size: 18px;
    }
    .resume .title{
    font-size: 25px;
   margin-left: 1px;
    }
    
}
.resume-content {
    flex-direction: row;
    padding: 10px 20px;
}
